[Unit]
Description=instance to serve the Worker service from The Raspberry coordinator
After=network.target

[Service]
User=pi
Group=pi
WorkingDirectory=/home/pi/worker
Environment="PATH=/home/pi/video_venv/bin:/usr/bin:/usr/sbin/:/bin"
ExecStart=/home/pi/video_venv/bin/python3 worker.py

[Install]
WantedBy=multi-user.target


